<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web JARVIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <!-- Header section -->
    <div class="header">
        <h1>Web JARVIS</h1>
    </div>

    <!-- Main content container -->
    <div class="content-container">
        <div class="chat-container">
            <div id="chat-box" class="chat-box">
                <!-- Chat messages will be appended here -->
            </div>
            <div class="input-container">
                <button id="micButton" class="mic-button">
                    <div class="mic-icon"></div>
                </button>
            </div>
        </div>

        <!-- Iframe container for the output -->
        <div class="iframe-container">
            <iframe id="outputIframe" width="500" height="500"></iframe>
        </div>
    </div>

    <!-- JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        async function fetchOutputHtml() {
            try {
                const response = await fetch('{{ url_for('output_html')}}');
                console.log("response: ", response);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const htmlContent = await response.text();
                const iframe = document.getElementById('outputIframe');
                const iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                iframeDocument.open();
                iframeDocument.write(htmlContent);
                iframeDocument.close();
            } catch (error) {
                console.error('Error fetching output HTML:', error);
            }
        }

        // Load content when needed
        fetchOutputHtml();
    </script>
</body>

</html>
